@{
    ViewData["Title"] = "Home Page";
}
<link href="https://fonts.googleapis.com/css?family=Markazi+Text" rel="stylesheet">
<style>
    p.frame {
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: 180px;
    }
   p.frame img {
        width: 100%;
        height: 180px;
   }
    .intro {
    font-family: 'Markazi Text', serif;
    font-size: 25px;
    }
</style>
<div class="jumbotron">
    <h1>Contoso University</h1>
</div>
<div>
    <p class="intro">
        Contoso University is committed to improving the world today and for future generations through outstanding research and scholarship,
        education, preservation, and practice. Contoso University educates aspiring leaders worldwide who serve all sectors of society.
        We carry out this mission through the free exchange of ideas in an ethical,
        interdependent, and diverse community of faculty, staff, students, and alumni.
    </p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome</h2>
        <p class="frame">
            <img src="~/images/architecture-buildings-campus-220351.jpg" alt="campus" />
            <a src="#">Explore Campus</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Courses</h2>
        <p class="frame">
            <a asp-area="" asp-controller="Courses" asp-action="Index">
                <img src="~/images/auditorium-benches-board-207691.jpg" alt="class" />
                View the listed courses here
            </a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Faculty</h2>
        <p class="frame">
            <a asp-area="" asp-controller="Instructors" asp-action="Index">
                <img src="~/images/afro-beautiful-beauty-1081226.jpg" alt="teacher" />
                Meet our instructors
            </a>
</div>
</div>